@import url('https://fonts.googleapis.com/css2?family=Kite+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Kite One', sans-serif;
}
 body {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #F2F3F4;
 }

 .header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 644px;
    height: 100px;
 }

 .header .budget {
   padding: 10px;
   font-size: 30px;
   border: 1px solid black;
 }

 .header .budget span {
   color: rgb(175, 102, 102);
 }

 form {
   display: flex;
   justify-content: flex-start;
 }

 form input {
   padding: 5px;
   height: 50px;
   margin-right: 10px;
   outline: none;
   border-radius: 5px;
   border: none;
   font-size: 18px;
 }

 form input:first-child {
   width: 250px;
 }

 form button {
   background-color: #C39BD3;
   border-radius: 5px;
   outline: none;
   width: 150px;
   border: none;
   cursor: pointer;
   color: white;
   box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
   font-size: 18px;
 }

 form button:hover {
   transform: scale(1.1);
   background-color: #9B59B6;
 }

.filter-expenses {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  width: 100%;
  height: 50px;
  margin-right: 10px;
  outline: none;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}

.expenses-container {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  height: 50px;
  margin-bottom: 10px;
  justify-content: space-between;
  background-color: #D6DBDF;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  font-size: 22px;
}

li {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 300px;
  height: 45px;
  background-color: #F4F6F6;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.expense span {
  background-color: #f77061;
  padding: 5px;
  border-radius: 12px;
  color: white;
}

.income span {
  background-color: #58D68D;
  padding: 5px;
  border-radius: 12px;
  color: white;
}


li button {
  background-color: #C39BD3;
  text-align: center;
   border-radius: 5px;
   outline: none;
   width: 40px;
   border: none;
   cursor: pointer;
   color: white;
   box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
   font-size: 18px;
}
