@import url('https://fonts.googleapis.com/css2?family=Kite+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Kite One', sans-serif;
}
 body {
   background-color: #F8F9F9;
 }

 .main-container {
   margin-top: 20px;
   display: flex;
   justify-content: space-evenly;
   width: 100vw;
   height: 80vh;
 }

 .list-container {
   padding-right: 85px;
   border-right: 2px solid rgb(219, 217, 217);
   overflow: auto;
 }

 .balance-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 500px;
  height: 500px;
}

 .header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 100vw;
    height: 100px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    color: #D7BDE2;
 }

 .header h1 {
  font-family: 'Mukta', sans-serif;
 }

 .form-container h2 {
   margin-bottom: 20px;
   font-family: 'Mukta', sans-serif;
 }

 form {
   display: flex;
   justify-content: flex-start;
 }

 form input {
   padding: 5px;
   height: 50px;
   margin-right: 10px;
   outline: none;
   border-radius: 5px;
   border: 2px solid rgb(216, 215, 215);
   font-size: 18px;
   font-family: 'Mukta', sans-serif;
 }

 form input:first-child {
   width: 250px;
 }

 form button {
   background-color: #C39BD3;
   border-radius: 5px;
   outline: none;
   width: 150px;
   border: none;
   cursor: pointer;
   color: #ffff;
   box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
   font-size: 18px;
   font-family: 'Mukta', sans-serif;
 }

 form button:hover {
   transform: scale(1.1);
   background-color: #9B59B6;
 }

.filter-expenses {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  width: 100%;
  height: 50px;
  margin-right: 10px;
  outline: none;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}

li {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  height: 60px;
  background-color: #F4F6F6;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  font-size: 22px;
  border-radius: 8px;
}

.expense span {
  text-align: center;
  background-color: #f77061;
  padding: 5px;
  width: 75px;
  border-radius: 12px;
  color: #ffff;
  font-family: 'Mukta', sans-serif;
  font-size: 20px;
}

.income span {
  text-align: center;
  background-color: #58D68D;
  padding: 5px;
  width: 75px;
  border-radius: 12px;
  color: #ffff;
  font-family: 'Mukta', sans-serif;
  font-size: 20px;
}


li button {
  background-color: #C39BD3;
  border-radius: 5px;
  font-family: 'Mukta', sans-serif;
  outline: none;
  width: 40px;
  border: none;
  cursor: pointer;
  color: #ffff;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  font-size: 18px;
}

.balance {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
  background-color: #FDEDEC;
  width: 250px;
  height: 100px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.balance h3 {
  font-family: 'Mukta', sans-serif;
  font-size: 22px;
  color: #D98880;
}

.balance h3 span {
  color: #E59866;
}

.income-expense-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  height: 100px;

}

.income-expense-container h3{
  font-family: 'Mukta', sans-serif;
  font-size: 22px;
}

.income-expense-container p{
  font-size: 20px;
}

.income-expense-container .incomes, .expenses {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
  flex-direction: column;
  background-color: #D7BDE2;
  width: 200px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.income-expense-container .incomes {
  background-color: #58D68D;
  color: #ffff;
}

.income-expense-container .expenses {
  background-color: #f77061;
  color: #ffff;
}
